.table{
    margin-top: 30px;
}

#logs{
     max-height: 50vh;
   overflow-y: auto;
}

h2,h5{
    margin: 5px;
    text-decoration: underline;
}

button{
    float: right;
}
#refresh{
   width: 120px; 
}